/* Don't change the existing CSS. */

.box {
  background-color: blue;
  padding: 10px;
}

p {
  color: yellow;
  margin: 0;
  padding: 0;
  font-size: 2rem;
}
.inner-box{
  background: red;
  color: white;
  font-size: 2rem;
}
.white-text{
  color: white;
}
#outer-box{
  border: 20px solid purple;
}