<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Review</title>
</head>
<body>
    <h1>Review</h1>
    <p><% if(locals.calc){%></p>
        <%=locals.calc%><%}else{%>
           <p>Insert a number.</p> 
            <%}%>
    <form action="/" method="post">
        <input type="number" name="num1" id="num1">
        <input type="number" name="num2" id="num2">
        <button>calcular</button>
    </form>
</body>
</html>