<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>No idea.</title>
</head>
<body>
    <div id="container">
        <div id="container-title">
            <h1>No idea.</h1>
        </div>
        <div id="container-content">
<form action="/" method="post">
                <input type="text" name="text" id="text">
                <button>Send</button>
</form>

            <div id="res">
                <p><%=locals.userResponse||locals.error?`Name${locals.userResponse||locals.error}`:"What is your name ?"%></p>
            </div>
        </div>
    </div>
</body>
</html>