<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="styles/loginpage.css">
    <title>SCEA REGISTRO</title>
</head>
<body> 
    <main>
        <div id="login">
            <h1>Registrar</h1>
            <form action="/register" method="post">
                <input required placeholder="Email" type="email" name="username" id="username">
                <input required placeholder="Password" type="password" name="password" id="password">
                <button>Confirmar</button>
            </form>
        </div>
    </main>
</body>
</html>