<header>
    <div class="title">
        <a href="/">
            <h1>SCEA</h1>
        </a>
    </div>
    <button id="hamburguer">
        <div class="box">
            <div id="ft-line"></div>
            <div id="mid-line"></div>
            <div id="bot-line"></div>
        </div>
    </button>
    <nav class="a7k29loooppps" id="menu">
        <ul>
            <li>
                <a href="/delete">
                    Remover Produto
                </a>
            </li>
            <li>
                <a href="/cadastro">
                    Cadastrar Produto
                </a>
            </li>
            <li>
                <a href="/consulta">
                    Consultar Produto
                </a>
            </li>
            <li>
                <a href="/alterar">
                    Alterar Produto
                </a>
            </li>
        </ul>
    </nav>
</header>


<!---a7k29loooppps: invisible-->