<header>
    <div class="title">
        <a href="/">
            <h1>SCEA</h1>
        </a>
    </div>
    <button id="hamburguer">
        <div class="box">
            <div id="ft-line"></div>
            <div id="mid-line"></div>
            <div id="bot-line"></div>
        </div>
    </button>
    <ul class="a7k29loooppps" id="menu">
        <li><a href="/remove"></a></li>
    </ul>
</header>


<!---a7k29loooppps: invisible-->