/* Color Theme Swatches in RGBA */
.Dark-palette-1-rgba { color: rgba(15, 15, 15, 1); }
.Dark-palette-2-rgba { color: rgba(31, 31, 31, 1); }
.Dark-palette-3-rgba { color: rgba(46, 46, 46, 1); }
.Dark-palette-4-rgba { color: rgba(61, 61, 61, 1); }
.Dark-palette-5-rgba { color: rgba(77, 77, 77, 1); }
.Dark-palette-6-rgba { color: rgb(34, 67, 153)   ; }