
@-webkit-keyframes AnimationName {
    0%{background-position:0% 70%}
    50%{background-position:100% 31%}
    100%{background-position:0% 70%}
}
@-moz-keyframes AnimationName {
    0%{background-position:0% 70%}
    50%{background-position:100% 31%}
    100%{background-position:0% 70%}
}
@keyframes AnimationName {
    0%{background-position:0% 70%}
    50%{background-position:100% 31%}
    100%{background-position:0% 70%}
}
*{
    padding: 0px;
    margin: 0px;

}
main{
    height: 100vh;
    justify-content: center;
    align-items: center;
    display: flex;
    background-image: linear-gradient(to right, #4e1a57,#7c2da3);
}
main > div{
    height: 400px;
    width: 350px;
    border-radius: 25px;
    background: rgba(255, 255, 255, 0.514);
    box-shadow: 2px 2px 5px 2px rgba(0, 0, 0, 0.205);
    position: relative;
}

main>div>form{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100%;
}
main >div>form>input{
    padding: 5px;
    border-radius: 15px;
    outline: 0px;
    border: 0px;
    box-shadow: 2px 2px 3px rgba(0, 0, 0, 0.253);
    margin-bottom: 10px;
    width: 200px;
    height: 20px;
}
main >div>form>input:focus{
    border: 1.5px solid black;
}
form > button{
    width: 100px;
    height: 30px;
    border-radius: 15px;
    border: 0px solid black;
    outline: 0px;
    padding: 5px 25px;
    box-shadow: 2px 2px 3px rgba(0, 0, 0, 0.253);
    background-image: linear-gradient(to right,  #4e1a57,#7c2da3);
    color: white;
    text-indent: -5px;
    transition-duration:0.3s;
}
form > button:hover{
    transform: scale(1.05);
}
/*
    Metas, Religiões, Objetivos
    Distrações, Dinheiro,
    Conflitos...
    Tantos meios de fugir da realidade
    mas ainda não criamos um meio de 
    enfrentar ela.
*/
main>div>h1{
    position: absolute;
    top: 40px;
    left: 50%;
    transform: translate(-50%);
    font-family: Arial, Helvetica, sans-serif;
    color: white;
}


main {
    background: linear-gradient(269deg, #4e1a57, #7c2da3);
    background-size: 400% 400%;

    -webkit-animation: AnimationName 15s ease infinite;
    -moz-animation: AnimationName 15s ease infinite;
    animation: AnimationName 15s ease infinite;
}
button{
    cursor: pointer;
}